# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.local
.env.*.local

# FAISS temporary files
*.faiss
*.bin

# Mac / Windows metadata
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
